apiVersion: apps/v1
kind: Deployment
metadata:
  name: gotenberg-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gotenberg
  template:
    metadata:
      labels:
        app: gotenberg
    spec:
      containers:
      - name: gotenberg
        image: gotenberg/gotenberg:8
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: gotenberg-service
spec:
  selector:
    app: gotenberg
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: ClusterIP
